/**
 *
 * Apply Here your Custom CSS
 *
*/
.login-page .login-header,.login-page{
background-color: #fcfcfc !important;
}
.login-page .login-form .form-group .input-group
{
    border: 1px solid #0f75bc;
background:none;
}
.login-page .login-form .form-group .input-group .form-control{
color:black;
}
.login-page .login-form .form-group .btn-login
{   
    border: 1px solid #0f75bc;
background-color: #0f75bc;
}
body {
	
}
